@charset "utf-8";
 
 html, 
 body {
	margin: 10px; 
	padding: 0px;
	border: 0px;
	color: #000;
	background: #fff;
 }
 html, body, p, th, td, li, dd, dt {
	font: 1em Georgia, Arial, Helvetica, sans-serif; 
}
 h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Arial, Helvetica, sans-serif;
 }

 h1 { 	
	font-size: 2em;
}
 
 h2{ 
	font-size: 1.5em; 
	color: #dc6900 
}
 
 h3 {
 font-size: 5em ; 
 }
 
 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf;}
 
 h1 span { 
	font-size: 50px; 
	font-weight: bold;
 }
 
 h1 span.special-background  {
	color: #dc6900;
	font-size: 1.5em; 
	font-weight: bold; 
	background-color: #e5e2db;
 }
 
 #rnd {
	font-size: 1.5em; 
	font-weight: bold; 
	background-color: #e5e2db;
}

aside {
	display: block;
	margin: 25px 100px;
	padding: 8 25 8 25;
	border-radius: 10px;
	vertical-align: middle;
}

aside.comment {
	background-color: maroon;
	color: white;
}

aside.assignment {
	background-color: green;
	color: rgb(227,227,227);
body {
  min-width: 900px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
	position:relative;
}

}
